<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HNReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C906FAE41C9723C3004A348D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C910EA531C8F3CD300EA1F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C910EA6F1C8F3CD300EA1F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C910EA7A1C8F3CD300EA1F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
